.container1 {
  display: flex;
  
}

.sidebar {
  text-align: center;
  width: 300px;
  height: 100vh;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 20px;
}

/* Media Query for mobile */
@media screen and (max-width: 768px) {
  .container1 {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    text-align: left;
  }
  .sidebar a{
    display: inline-block;
    text-align: left;
  }

  .content {
    width: 100%;
  display: -webkit-flex;
  overflow-y: scroll;

  }
}


.card1 img{
  height: 100px;
  
}

.card1{
display: inline-block;
 text-align: center;
 padding: 3px;
 padding: 5px;
 box-shadow: 0 0 1px rgb(31, 153, 13);

 margin: 2px;
}
btn{
  padding: 5px;
}

.week_main{
  padding: auto;
  margin: auto;
}
.week_main h4{
  text-align: center;
}
.week_main srl{
  padding: 0px;
}

.spl_head{
  text-align: center;
  margin-top: 30px;
}
.weak_srl{
  display: -webkit-flex;
  overflow-y: scroll;
}
.one{
  background-color: rgb(10, 10, 10);
  text-align: center;
  height: 300px;
margin-top: -100px;
display: flex;
position: relative;
align-items: center;
justify-content: center;
gap: 10px;


}
.fst{
color: whitesmoke;
display: inline-block;
text-align: left;
padding: 5px;

}
.one h5{
  color: white;
}

.fst p:hover{
  color: white;
}
.sec{
  text-align: left;
  padding: 5px;
}
.thr{
  text-align: left;
  padding: 5px;
}

.sec p:hover{
color: white;
}
.thr p:hover{
  color: white;
}
.frt a:hover{
 color: white;
}
.frt {
  padding: none;

}
.frt a{
  padding: 0px;
  font-size: 20px;
}
.btn{
  gap: 10px;
  padding: 10px;
  margin: 5px;
}
